In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [20]:
data=pd.read_csv('/content/M_Regression.csv')

In [21]:
data.head(10)

      indoor    outdoor   domestic     Profit
0  165349.20  136897.80  471784.10  192261.83
1  162597.70  151377.59  443898.53  191792.06
2  153441.51  101145.55  407934.54  191050.39
3  144372.41  118671.85  383199.62  182901.99
4  142107.34   91391.77  366168.42  166187.94
5  131876.90   99814.71  362861.36  156991.12
6  134615.46  147198.87  127716.82  156122.51
7  130298.13  145530.06  323876.68  155752.60
8  120542.52  148718.95  311613.29  152211.77
9  123334.88  108679.17  304981.62  149759.96

In [22]:
features=data.drop('Profit',axis=1)
target=data[['Profit']]

In [23]:
x_train,x_test,y_train,y_test=train_test_split(features,target,train_size=0.8,random_state=1)

In [24]:
lr=LinearRegression()

In [25]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
prediction=lr.predict(x_test)

In [29]:
prediction

array([[114729.00768236],
       [ 90569.03231312],
       [ 75952.34861633],
       [ 70179.81117586],
       [179539.15187896],
       [171638.15637459],
       [ 49624.94193162],
       [102253.12475568],
       [ 58381.67907   ],
       [ 98240.74724733]])